.navbar-container {
  width: 100%;
  background-color: #02002d;
}
.navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.left-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.contact-item .icon {
  color: #ffd700;
}

.contact-text {
  color: #fff;
  font-size: 16px;
}

.right-section {
  display: flex;
  gap: 5px;
}

.social-icons a {
  font-size: 18px;
  color: #ffd700;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 2px solid #ffd700;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  background-color: #ffd700;
  color: #0b0016;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .left-section,
  .right-section {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  @media (max-width: 576px) {
    .left-section {
      flex-wrap: wrap;
    }
    .contact-text {
      font-size: 14px;
    }
  }
}
